::ng-deep .highlight {
    // fill: rgba(234, 243, 234, 0.5);
    fill: rgba(11, 83, 239, 0.5);

    stroke-width: 2px;
}

::ng-deep .label {
    font-size: 10px;
    text-anchor: middle;
    fill: black;
}